<link rel="stylesheet" href="/css/reservas.css">
<div class="geral">
  <h2>Lista de Reservas</h2>

  <% reservas.forEach(item=> { %>
    <article>
      <p><strong>ID da Reserva:</strong>
        <%= item.id_reserva %>
      </p>
      <p><strong>Nome do Usuário:</strong>
        <%= item.nome_usuario %>
      </p>
      <p><strong>Número da Sala:</strong>
        <%= item.número_sala %>
      </p>
      <p><strong>Horário:</strong>
        <%= item.horário %>
      </p>
      <p><strong>Grupo:</strong>
        <%= item.identificador_grupo_reservas %>
      </p>

      <div class="actions">
        <form action="/reservas/edit/<%= item.id_reserva %>" method="POST">
          <label for="número_sala">Número da Sala:</label>
          <input type="number" name="número_sala" required>

          <label for="horário">Horário (AAAA-MM-DD HH:MM:SS):</label>
          <input type="text" name="horário" required>

          <button type="submit">Editar</button>
        </form>

        <form action="/reservas/delete/<%= item.id_reserva %>" method="POST">
          <button type="submit">Deletar</button>
        </form>
      </div>
    </article>
    <% }) %>

      <h2>Cadastrar nova reserva:</h2>

      <form id="novoCadastro" action="/reservas" method="POST">
        <label for="número_sala">Número da Sala:</label>
        <input type="number" name="número_sala" required>

        <label for="horário">Horário (AAAA-MM-DD HH:MM:SS):</label>
        <input type="text" name="horário" required>

        <label for="id_usuário">ID do Usuário:</label>
        <input type="text" name="id_usuário" required>

        <label for="identificador_grupo_reservas">ID do Grupo:</label>
        <input type="text" name="identificador_grupo_reservas" required>

        <button type="submit">Reservar</button>
      </form>
</div>